.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5rem;
  background-color: rgb(20, 167, 172);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}

.main-header__logo h1 {
  font-size: 1.75rem;
}

.main-header__items {
  margin-right: 1rem;
}

.main-header__items ul {
  display: flex;
  align-items: center;
}

.main-header__items li {
  list-style: none;
  margin-right: 1rem;
}

.main-header__items a,
.main-header__items button {
  text-decoration: none;
  padding: 0.3rem 1rem;
  color: white;
  font-weight: bold;
  border: none;
  font-family: inherit;
  margin: 0;
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}

.main-header__items a:hover,
.main-header__items a:active,
.main-header__items button:hover,
.main-header__items button:active,
.main-header__items a.active {
  background-color: white;
  border-radius: 3px;
  color: black;
}
